{% extends 'base.html' %} {% block content %}
    <h3>About this Application</h3>

    <p>This application uses IEXCloud to pull stock information and display it to the user. In order to use this applicaiton please follow the link to sign up for an accout and get a API Key</p>
    <a href="https://iexcloud.io" target="_blank">IEXCloud.io</a>
    <br />
    <br />

    <p>Please place API Key inside the config file found in the main app structure. You will see the text "Place API Key Here". </p>
{% endblock %}
